@model Hospital.Web.EfModels.DichVuChiTiet
@using Hospital.Web.Controllers
@using Hospital.Web.EfModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dịch vụ";
}
@section css {
}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>@Model.TenDichVu</h1>
                <div class="breadcroumb_link">
                    <a asp-action="@nameof(HomesController.Index)"
                       asp-controller="@nameof(HomesController).Replace("Controller","")">Trang chủ</a>/ Chi tiết dịch vụ
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- ServiceDetailss Area Start-->
<div class="service_details_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="@Url.Action("GetImage" ,"ImageBrowser",new {id=Model.HinhAnh })" />
            </div>

            <div>
                <div class="col-md-12">
                    <div class="service_details_wraper">
                        <h4>@Model.TenDichVu</h4>
                        <div class="service_quote">
                            <i class="zmdi zmdi-quote "></i>
                            <h4>
                                @Html.Raw(@Model.GioiThieu)
                            </h4>

                        </div>
                        <img src="@Url.Action("GetImage" ,"ImageBrowser",new {id=Model.HinhAnh })" />
                        <br>
                        <br>
                        <p>@Html.Raw(@Model.NoiDung)</p>
                    </div>
                </div>
            </div>

            <div class="container" style="    padding: 5%;">
                <h1 style="border-bottom: 1px solid #8D8D8D; width:100%; float: left;">
                    Dịch vụ khác
                </h1>
                <ul>
                    @foreach (var dichVu in (ViewBag.lsDichVuCT as List<DichVuChiTiet>))
                    {
                        <li>
                            <a asp-action="@nameof(DichVusController.Details)"
                               asp-controller="@nameof(DichVusController).Replace("Controller","")"
                               asp-route-id="@dichVu.Id">
                                *@dichVu.TenDichVu
                            </a>
                        </li>

                    }
                </ul>
            </div>
        </div>

    </div>
</div>
@section scripts {

}
