@model Hospital.Web.EfModels.DichVuChiTiet
@using Hospital.Web.Controllers
@using Hospital.Web.EfModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dịch vụ";
}
@section css {
    <link href="~/css/DichVuKhac.css" rel="stylesheet" />
}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>@Model.TenDichVu</h1>
                <div class="breadcroumb_link">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ServiceDetailss Area Start-->
<div class="service_details_area">
    <div class="container">
        <div class="row">
            <div>
                <div class="col-md-12">
                    <div class="service_details_wraper">
                        <p>@Html.Raw(@Model.NoiDung)</p>
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>
<h1 class="header_DV">
    Dịch vụ khác
</h1>
<hr />

<ul>
    @foreach (var dichVu in (ViewBag.lsDichVuCT as List<DichVuChiTiet>))
    {
        <li>
            <a asp-action="@nameof(DichVusController.Details)"
               class="dichVuKhac"
               asp-controller="@nameof(DichVusController).Replace("Controller","")"
               asp-route-id="@dichVu.Id">
                <i class="zmdi zmdi-badge-check icon"></i> <span>@dichVu.TenDichVu</span>
            </a>
        </li>

    }
</ul>
@section scripts {

}
