@model Hospital.Web.EfModels.Video
@using Hospital.Web.Controllers
@{
    ViewData["Title"] = "Details";
}


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {

    <link href="~/css/about.css" rel="stylesheet" />
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

}

<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>@Model.TieuDe</h1>
                <div class="breadcroumb_link">
                    <a asp-action="@nameof(HomesController.Index)"
                       asp-controller="@nameof(HomesController).Replace("Controller","")">Trang chủ</a>/ Sự kiện mới nhất
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog_detaisl_area">
                    <div class="blog_full_content">
                        <img src="~/images/img/blog_big1.jpg" alt="">
                        @* <img src="@Url.Content(Hospital.Web.Models.Constants.FOLDER_IMAGE_TIN_TUC + khoaPhong.HinhAnhDaiDien)" />*@
                        <h4>@Model.TieuDe</h4>
                        <div class="blog_meta">
                            <a href="#">@Model.NgayTao</a> <a href="#">Lượt xem: @Model.LuotXem</a> 
                        </div>
                        <div class="blog_quote">
                            <p>@Model.DuongDanFile</p>
                        </div>
                                          
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>




@section scripts {

}

