@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model X.PagedList.IPagedList<Hospital.Web.EfModels.Video>
@using Hospital.Web.Controllers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
@section css {
    <link href="~/css/PagedList.css" rel="stylesheet" />
}

<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Video nổi bật</h1>
                <div class="breadcroumb_link">
                    <a asp-action="@nameof(HomesController.Index)"
                       asp-controller="@nameof(HomesController).Replace("Controller","")">Trang chủ</a>/Video mới nhất
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- Blog page Area Start-->
<div class="blog_area">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3">

                    <a asp-action="@nameof(VideosController.Details)"
                       asp-controller="@nameof(VideosController).Replace("Controller","")"
                       asp-route-id="@item.Id"
                       target="_blank">
                        <img src="@Url.Content(Hospital.Web.Models.Constants.FOLDER_IMAGE_VIDEO + item.HinhAnh)" />
                    </a>

                </div>
                <div class="col-lg-8">
                    <b style="font-size: 25px;" asp-action="@nameof(VideosController.Details)"
                       asp-controller="@nameof(VideosController).Replace("Controller","")"
                       asp-route-id="@item.Id"
                       target="_blank">@item.TieuDe</b>

                    <p>@item.GioiThieu</p>
                </div>
            }
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>
<!-- Blog page Area End-->
