@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model X.PagedList.IPagedList<Hospital.Web.EfModels.HoatDong>
@using Hospital.Web.Controllers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Hoạt động";
   

}
@section css {
    <link href="~/css/PagedList.css" rel="stylesheet" />
}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Hoạt động</h1>
                <div class="breadcroumb_link">
                    <a asp-action="@nameof(HomesController.Index)"
                       asp-controller="@nameof(HomesController).Replace("Controller","")">Trang chủ</a>/ Hoạt động
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- Blog page Area Start-->
<div class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 order-md-12">
                <div class="row">

                    @foreach (var hoatdong in Model)
                    {
                        <div class="col-md-6">
                            <div class="single_blog">
                                <div class="blog_img">
                                    <img src="@Url.Action("GetImage" ,"ImageBrowser",new {id=hoatdong.HinhAnhMinhHoa })" alt="">
                                    @*<img src="@Url.Content(Hospital.Web.Models.Constants.FOLDER_IMAGE_TIN_TUC + tinTuc.HinhAnhMinhHoa)" />*@
                                </div>
                                <div class="blog_content">
                                    <div class="blog_meta">
                                        <a class="date" asp-action="@nameof(HoatDongsController.Details)"
                                           asp-controller="@nameof(HoatDongsController).Replace("Controller","")"
                                           asp-route-id="@hoatdong.Id"
                                           target="_blank">@hoatdong.NgayTao?.ToString("dd/MM/yy hh:mm:ss")</a>
                                    </div>
                                    <h4>
                                        <a asp-action="@nameof(HoatDongsController.Details)"
                                           asp-controller="@nameof(HoatDongsController).Replace("Controller","")"
                                           asp-route-id="@hoatdong.Id"
                                           target="_blank">@hoatdong.TieuDe</a>
                                    </h4>
                                    <p asp-action="@nameof(HoatDongsController.Details)"
                                       asp-controller="@nameof(HoatDongsController).Replace("Controller","")"
                                       asp-route-id="@hoatdong.Id"
                                       target="_blank">@hoatdong.GioiThieu</p>
                                    <a class="read_btn" asp-action="@nameof(HoatDongsController.Details)"
                                       asp-controller="@nameof(HoatDongsController).Replace("Controller","")"
                                       asp-route-id="@hoatdong.Id"
                                       target="_blank">Xem thêm<i class="zmdi zmdi-plus"></i></a>
                                </div>
                            </div>

                        </div>
                    }

                    <div class="col-md-12">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog page Area End-->
