@model IEnumerable<AdminWebBenhVien.EfModels.SlideShow>
@using AdminWebBenhVien.Controllers
@using AdminWebBenhVien.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Slide Shows<span style="color:orange"></span></h1>
            </div>
        </div>
        <br />
        <p>
            <a asp-action="Create"><button class="k-primary">Thêm</button></a>
        </p>
        <div class="row">
            <div class="col-lg-12">
                <kendo-grid name="gridSlideShows" height="550">
                    <datasource type="DataSourceTagHelperType.Ajax" server-operation="false" page-size="20">
                        <transport>
                            <read url="@Url.Action(nameof(SlideShowsController.SlideShows_Read))" type="get" />
                        </transport>
                        <schema>
                            <model id="@nameof(SlideShowViewModel.Id)">
                                <fields>
                                    <field name="@nameof(SlideShowViewModel.Stt)" />
                                    <field name="@nameof(SlideShowViewModel.TieuDe)" />
                                    <field name="@nameof(SlideShowViewModel.LinkEvent)" />
                                    <field name="@nameof(SlideShowViewModel.IsLink)" />
                                </fields>
                            </model>
                        </schema>
                    </datasource>
                    <groupable enabled="true" />
                    <sortable enabled="true" />
                    <filterable enabled="true" />
                    <scrollable enabled="true" />
                    <pageable button-count="5" refresh="true" page-sizes="new int[] { 5, 10, 20 }">
                    </pageable>
                    <filterable enabled="true" />
                    <columns>
                        <column field="@nameof(SlideShowViewModel.Stt)" title="STT" width="80" />
                        <column field="@nameof(SlideShowViewModel.TieuDe)" title="Tiêu đề" width="200" />
                        <column field="@nameof(SlideShowViewModel.LinkEvent)" title="Link sự kiện" width="100" />
                        <column field="@nameof(SlideShowViewModel.IsLink)" title="IsLink" width="150" />
                        <column title="Thao tác" width="150">
                            <commands>
                                <column-command text="Sửa" name="btnCapNhat" class-name="k-primary" click="btnCapNhat_Click"></column-command>
                                <column-command text="Xóa" name="btnXoa" class-name="k-primary" click="btnXoa_Click"></column-command>
                            </commands>
                        </column>
                    </columns>
                </kendo-grid>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var urlCapNhat = "@Url.Action(nameof(SlideShowsController.Edit), new { id = Constants.PARAM_SLIDE_SHOWS_ID })";
        var urlXoa = "@Url.Action(nameof(SlideShowsController.Delete), new { id = Constants.PARAM_XOA_SLIDE_SHOWS_ID })";

        function btnCapNhat_Click(e) {

            e.preventDefault();

            var kendoGrid = $("#gridSlideShows").data("kendoGrid");
            var tr = $(e.currentTarget).closest("tr");
            var data = kendoGrid.dataItem(tr);

            var url = urlCapNhat.replace("@Constants.PARAM_SLIDE_SHOWS_ID", data.id);
            window.open(url, "_blank");
        };
         function btnXoa_Click(e) {
            e.preventDefault();

             var kendoGrid = $("#gridSlideShows").data("kendoGrid");
            var tr = $(e.currentTarget).closest("tr");
            var data = kendoGrid.dataItem(tr);

             var url = urlXoa.replace("@Constants.PARAM_XOA_SLIDE_SHOWS_ID", data.id);
            window.open(url, "_blank");
        };
    </script>
}
