@using Hospital.Web.EfModels
@model KhoaPhong
@using Hospital.Web.Controllers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Phòng ban";
}
@section css {
}


<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>@Model.TenKhoaPhong</h1>
                <div class="breadcroumb_link">
                    <a asp-action="@nameof(HomesController.Index)"
                       asp-controller="@nameof(HomesController).Replace("Controller","")">Trang chủ</a>/ Khoa phòng
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dept_details_page">
    <div class="container">
        <div class="col-md-12">
            <h1>@Model.TieuDeKhoa</h1>
            <p>
                @Model.GioiThieu
            </p>
            <br>

            <p>@Html.Raw(Model.NoiDung)</p>
            <br>
        </div>
        <div class="col-lg-12">
            <h1 style="border-bottom: 1px solid #8D8D8D; width:100%; float: left;">
                Dịch vụ khác
            </h1>
            <ul id="submenu">
                @{
                    var listKhoaPhong = (List<KhoaPhong>)ViewBag.listkhoaPhongKhac;
                }
                @foreach (var item in listKhoaPhong)
                {
                    <li>
                        <a asp-action="@nameof(KhoaPhongsController.Details)"
                           asp-controller="@nameof(KhoaPhongsController).Replace("Controller","")"
                           asp-route-id="@item.Id">@item.TenKhoaPhong</a>
                    </li>
                }

            </ul>

        </div>
    </div>
</div>

@section scripts {
}

