@model Hospital.Web.EfModels.Menu

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Idparrent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idparrent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prioty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prioty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Root)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Root)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkNgonNguNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkNgonNguNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
