@model AdminWebBenhVien.EfModels.TinTuc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/css/Create.css" rel="stylesheet" />
}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Cập nhật tin tức<span style="color:orange"></span></h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="Edit">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#paneGioiThieu" aria-expanded="false">Thông tin chung</a>
                            </h4>
                        </div>
                        <div id="paneGioiThieu" class="collapse in" aria-expanded="false">
                            <div class="panel-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Stt" class="control-label">STT</label>
                                    <input asp-for="Stt" class="form-control" />
                                    <span asp-validation-for="Stt" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TieuDe" class="control-label">Tiêu đề</label>
                                    <input asp-for="TieuDe" class="form-control" />
                                    <span asp-validation-for="TieuDe" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="GioiThieu" class="control-label">Giới thiệu</label>
                                    @Html.TextAreaFor(h => h.GioiThieu, 5, 1, new { @class = "k-textbox" })
                                    <span asp-validation-for="GioiThieu" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HinhAnhMinhHoa" class="control-label">Hình ảnh</label>
                                    <input asp-for="HinhAnhMinhHoa" class="form-control" type="file" />
                                    <span asp-validation-for="HinhAnhMinhHoa" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FkNgonNgu" class="control-label"></label>
                                    <select asp-for="FkNgonNgu" class="form-control" asp-items="ViewBag.FkNgonNgu"></select>
                                    <span asp-validation-for="FkNgonNgu" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FkLoaiTin" class="control-label"></label>
                                    <select asp-for="FkLoaiTin" class="form-control" asp-items="ViewBag.FkLoaiTin"></select>
                                    <span asp-validation-for="FkLoaiTin" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FkUserNguoiTao" class="control-label"></label>
                                    <select asp-for="FkUserNguoiTao" class="form-control" asp-items="ViewBag.FkUserNguoiTao"></select>
                                    <span asp-validation-for="FkUserNguoiTao" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LuotXem" class="control-label">Lượt xem</label>
                                    <input asp-for="LuotXem" class="form-control" />
                                    <span asp-validation-for="LuotXem" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Author" class="control-label">Tác giả</label>
                                    <input asp-for="Author" class="form-control" />
                                    <span asp-validation-for="Author" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FkUserNguoiSua" class="control-label"></label>
                                    <select asp-for="FkUserNguoiSua" class="form-control" asp-items="ViewBag.FkUserNguoiSua"></select>
                                    <span asp-validation-for="FkUserNguoiSua" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NgaySua" class="control-label">Ngày sửa</label>
                                    <input asp-for="NgaySua" class="form-control" />
                                    <span asp-validation-for="NgaySua" class="text-danger"></span>
                                </div>
                                <kendo-editor name="NoiDung" aria-label="editor" style="height:440px" encoded="false">
                                    <tools>
                                        <tool name="insertImage" />
                                        <tool name="insertFile" />
                                        <tool name="bold" />
                                        <tool name="italic" />
                                        <tool name="underline" />
                                        <tool name="fontName">
                                            <tool-items>
                                                <tool-item text="Default site font" value="Arial,Verdana,sans-serif" />
                                                <tool-item text="Monospaced font" value="monospace" />
                                            </tool-items>
                                        </tool>
                                    </tools>
                                    <image-browser file-types="*.png,*.gif,*.jpg,*.jpeg">
                                        <image-browser-transport upload-url="@Url.Action("Upload", "ImageBrowser")">
                                            <create url="@Url.Action("Create", "ImageBrowser")" />
                                            <read url="@Url.Action("Read", "ImageBrowser")" />
                                            <destroy url="@Url.Action("Destroy", "ImageBrowser")" />
                                        </image-browser-transport>
                                    </image-browser>
                                    <file-browser>
                                        <file-browser-transport upload-url="@Url.Action("Upload", "FileBrowser")">
                                            <create url="@Url.Action("Create", "FileBrowser")" />
                                            <read url="@Url.Action("Read", "FileBrowser")" />
                                            <destroy url="@Url.Action("Destroy", "FileBrowser")" />
                                        </file-browser-transport>
                                    </file-browser>
                                    <content>
                                        @Html.Raw(Model.NoiDung)
                                    </content>
                                </kendo-editor>

                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</div>
