@model Hospital.Web.EfModels.TinTuc
@using Hospital.Web.Controllers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tin tức chi tiết";

}

@section css {

    <link href="~/css/about.css" rel="stylesheet" />
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link href = "~/css/Detail.css" rel = "stylesheet" />

}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>@Model.TieuDe</h1>                
            </div>
        </div>
    </div>
</div>

<div class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog_detaisl_area">
                    <div class="blog_full_content">                       
                        <div class="blog_meta">
                            <h3><b>Ngày đăng: @Model.NgayTao?.ToString("dd/MM/yyyy HH:mm:ss") | Ngày cập nhật: @Model.NgaySua?.ToString("dd/MM/yyyy HH:mm:ss")
                                | Lượt xem: @Model.LuotXem | Nguồn: @Model.Author</b></h3>
                        </div>
                        <div class="blog_quote">
                            <p>@Model.GioiThieu</p>
                        </div>
                            <p>
                                @Html.Raw(Model.NoiDung) <br>
                            </p>
                        </div>
                        <br>

                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {

}
