@using X.PagedList.Mvc.Core; //import this so we get our HTML Helper
@using X.PagedList; //import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)

@model X.PagedList.IPagedList<Hospital.Web.EfModels.TinTuc>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
< link href = "~/css/PagedList.css" rel = "stylesheet" />
}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Tin tức mới nhất</h1>
                <div class="breadcroumb_link">
                    <a href="index.html">Home </a>/Tin tức mới nhất
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- Blog page Area Start-->
<div class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-md-12">
                <div class="row">

                    @foreach (var tinTuc in Model)
                    {
                        <div class="col-md-6">
                            <div class="single_blog">
                                <div class="blog_img">
                                    <img src="~/images/img/blog1.jpg" alt="">
                                    @*<img src="@Url.Content(Hospital.Web.Models.Constants.FOLDER_IMAGE_TIN_TUC + tinTuc.HinhAnhMinhHoa)" />*@
                                </div>
                                <div class="blog_content">
                                    <div class="blog_meta">
                                        <a href="#" class="date">
                                            <span>@Html.Raw(tinTuc.NgayTao)</span>
                                        </a>
                                        <a href="#" class="comment_box">
                                            <i class="zmdi zmdi-comments"></i> 3
                                        </a>
                                    </div>
                                    <h4>@Html.Raw(tinTuc.TieuDe)</h4>
                                    <p>@Html.Raw(tinTuc.GioiThieu)</p>
                                    <a class="read_btn" href="#">Xem thêm  <i class="zmdi zmdi-plus"></i></a>
                                </div>
                            </div>

                        </div>
                    }

                    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


                    <div class="row">
                        <div class="col">
                            <div class="paginations_bar">
                                <ul class="paginations_menu">
                                    <li class="nav prev"><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li class="nav next"><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget_raper">
                    <form action="#" class="widget_search_bar">
                        <input type="search" placeholder="Search here">
                        <button type="submit"><i class="zmdi zmdi-search"></i></button>
                    </form>
                    <div class="recent_post">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#Popular" role="tab" data-toggle="tab">Popular</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Recent" role="tab" data-toggle="tab">Recent</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Comments" role="tab" data-toggle="tab">Comments</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            @foreach (var tinTuc in Model)
                            {
                                <div role="tabpanel" class="tab-pane fade in active show" id="Popular">
                                    <a href="#" class="single_recent_post">
                                        <span class="rp_img" style="background-image: url(../images/img/blog1.jpg);">
                                            @*<img src="@Url.Content(Hospital.Web.Models.Constants.FOLDER_IMAGE_TIN_TUC + tinTuc.HinhAnhMinhHoa)" />*@

                                        </span>
                                        <h4>@Html.Raw(tinTuc.TieuDe)</h4>
                                        <span>@Html.Raw(tinTuc.NgayTao)</span>
                                    </a>

                                </div>
                            }

                        </div>
                    </div>
                    <div class="widget_menu_bar">
                        <h4>Categories</h4>
                        <ul class="widget_menu">
                            <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Dental care</a></li>
                            <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Health care</a></li>
                            <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Laboratory</a></li>
                            <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Cardiology</a></li>
                            <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Parenting</a></li>
                            <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Research</a></li>
                        </ul>
                    </div>
                    <div class="widget_tag">
                        <h4>Tags</h4>
                        <ul class="tag_list">
                            <li><a href="#">Clean environment </a></li>
                            <li><a href="#">kids health </a></li>
                            <li><a href="#">blood pressure </a></li>
                            <li><a href="#">body </a></li>
                            <li><a href="#">learning</a></li>
                            <li><a href="#">tips </a></li>
                            <li><a href="#">willpower</a></li>
                            <li><a href="#">Rehabilitation</a></li>
                            <li><a href="#">Treatment</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog page Area End-->
