@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model X.PagedList.IPagedList<Hospital.Web.EfModels.TinTuc>
@using Hospital.Web.Controllers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
@section css {
    <link href="~/css/PagedList.css" rel="stylesheet" />
}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Tin tức mới nhất</h1>
                <div class="breadcroumb_link">
                    <a asp-action="@nameof(HomesController.Index)"
                       asp-controller="@nameof(HomesController).Replace("Controller","")">Trang chủ</a>/Tin tức mới nhất
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- Blog page Area Start-->
<div class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 order-md-12">
                <div class="row">

                    @foreach (var tinTuc in Model)
                    {
                        <div class="col-md-6">
                            <div class="single_blog">
                                <div class="blog_img">
                                    <img src="~/images/img/blog1.jpg" alt="">
                                    @*<img src="@Url.Content(Hospital.Web.Models.Constants.FOLDER_IMAGE_TIN_TUC + tinTuc.HinhAnhMinhHoa)" />*@
                                </div>
                                <div class="blog_content">
                                    <div class="blog_meta">
                                        <a class="date" asp-action="@nameof(TinTucsController.Details)"
                                           asp-controller="@nameof(TinTucsController).Replace("Controller","")"
                                           asp-route-id="@tinTuc.Id"
                                           target="_blank">@tinTuc.NgayTao</a>
                                        <a href="#" class="comment_box">
                                            <i class="zmdi zmdi-comments"></i> 3
                                        </a>
                                    </div>
                                    <h4>
                                        <a asp-action="@nameof(TinTucsController.Details)"
                                           asp-controller="@nameof(TinTucsController).Replace("Controller","")"
                                           asp-route-id="@tinTuc.Id"
                                           target="_blank">@tinTuc.TieuDe</a>
                                    </h4>
                                    <p asp-action="@nameof(TinTucsController.Details)"
                                       asp-controller="@nameof(TinTucsController).Replace("Controller","")"
                                       asp-route-id="@tinTuc.Id"
                                       target="_blank">@tinTuc.GioiThieu</p>
                                    <a class="read_btn" asp-action="@nameof(TinTucsController.Details)"
                                       asp-controller="@nameof(TinTucsController).Replace("Controller","")"
                                       asp-route-id="@tinTuc.Id"
                                       target="_blank">Xem thêm<i class="zmdi zmdi-plus"></i></a>
                                </div>
                            </div>

                        </div>
                    }

                    <div class="col-md-6">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog page Area End-->
