@model Hospital.Web.EfModels.NoiDungTinhChiTiet
@using Hospital.Web.Controllers
@using Hospital.Web.EfModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {

    <link href="~/css/about.css" rel="stylesheet" />
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>@Model.TieuDe</h1>
                <div class="breadcroumb_link">
                    <a href="index.html">Trang chủ </a>/ Bệnh nhân
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" about_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 order-lg-7">
                <div class="about_video_content">
                    <a href="#" class="video_popup">
                        <img src="@Url.Action("GetImage" ,"ImageBrowser",new {id=Model.HinhAnh })" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about_content">
                    <h1>@Model.TieuDe</h1>
                    <p>@Html.Raw(Model.GioiThieu)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="col-lg-12">@Html.Raw(Model.NoiDung)</p>
            <br />
        </div>
        <div class="container" style="    padding: 5%;">
            <h1 style="border-bottom: 1px solid #8D8D8D; width:100%; float: left;">
                Dịch vụ khác
            </h1>
            <ul>
                @foreach (var NoiDungTinh in (ViewBag.lsNoiDungTinh as List<NoiDungTinh>))
                {
                    <li>
                        <a asp-action="@nameof(NoiDungTinhChiTietsController.Details)"
                           asp-controller="@nameof(NoiDungTinhChiTietsController).Replace("Controller","")"
                           asp-route-id="@NoiDungTinh.Id"
                           target="_blank">
                            *@NoiDungTinh.TenNoiDung
                        </a>
                    </li>

                }
            </ul>
        </div>
    </div>


</div>

@section scripts {

}