@model Hospital.Web.EfModels.HoiDapYkhoa
@using Hospital.Web.Controllers
@using Hospital.Web.EfModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Hỏi đáp y khoa";
}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>@Model.TieuDe</h1>
                <div class="breadcroumb_link">
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container" style="padding:20px">
        <div class="col-lg-9">
            <div class="form-group">
                <h1>@Model.TieuDe</h1>
            </div>
            <div class="form-group">
                <span style="color: #C00">Người hỏi: </span> @Model.HoTenNguoiHoi
                <h4>@Model.NgayGuiCauHoi?.ToString("dd/MM/yy hh:mm:ss")</h4><br />
            </div>
            <div class="form-group">
                <span style="color: #C00">Câu hỏi:</span> @Html.Raw(Model.NoiDungCauHoi)
            </div>
            <div class="form-group">
                <span style="color: #C00">Trả lời:</span> @Html.Raw(Model.NoiDungTraLoi)
            </div>
        </div>

        <div class="col-lg-3">
            <h1 style="border-bottom: 1px solid #8D8D8D; width:100%; float: left;">
                Câu hỏi khác
            </h1>
            <ul>
                @foreach (var item in (ViewBag.listsHoiDap as List<HoiDapYkhoa>))
                {
                    <li>
                        <a asp-action="@nameof(HoiDapYkhoasController.Details)"
                           asp-controller="@nameof(HoiDapYkhoasController).Replace("Controller", "")"
                           asp-route-id="@item.Id">* @item.TieuDe</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
