@model Hospital.Web.Models.HomeModel


@using Hospital.Web.Controllers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/css/nice-select.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <style>
        .cc {
            text-align: center;
            padding: 30px;
        }

            .cc h2 {
                color: #ffbc09;
            }

            .cc h3 {
                color: #01f8fd;
            }

        .col {
            margin-bottom: 50px;
        }
        .video ul{
            width:100%;
            height:100%
        }
    </style>
}

<div class="welcome_areaa" style="background-image: url(../images/img/welcome_shap.png);">
    <div class="container">
        <div class="welcome_slider owl-carousel">
            @foreach (var slide in Model.lsSLide)
            {
                <div class="single_welcome_slider">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="welcome_content">
                                <h1 style="width:500px">
                                    @slide.TieuDe
                                </h1>
                                @* <p>@Html.Raw(slide.Noi)</p>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="welcome_content">
                            <div class="w_man"><img src="@Url.Content("~/images/image_slider/" + slide.HinhAnh)" alt=""></div>
                        </div>
                    </div>
                    @* <img src="@Url.Content(Hospital.Web.Models.Constants.FOLDER_IMAGE_GIOI_THIEU_CHI_TIET + khoaPhong.HinhAnh)" />*@
                </div>
            }
        </div>
    </div>
</div>
<!-- Welcome Area End-->
<!-- Cbox Area Start-->
<div class="cbox_area">
    <div class="container">
        <div style="background-color: #f6fbff;">
            <div class="col-md-3">
                <div class="single_cbox">
                    <div class="cbox_title">
                        <div class="cbox_icon">  <img src="~/images/icon-1.png" alt="" /></div>
                        <a asp-action="@nameof(HenKhamBenhsController.Index)"
                           asp-controller="@nameof(HenKhamBenhsController).Replace("Controller","")"><h4>Đăng ký khám bênh qua mạng</h4></a>
                    </div>
                    <p>
                        Dịch vụ "Đăng ký khám theo hẹn" bắt đầu đi vào hoạt động từ ngày 09 tháng 4 năm
                        2009.Ngoài ra, phụ huynh có con cần khám dịch vụ tại phòng khám vẫn có thể đặt lịch
                        trước bằng cách ...
                    </p>
                    <div class="call_btn">
                        <span>Call us:</span>
                        <a href="tel:062109-9222">(062) 109-9222</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single_cbox">
                    <div class="cbox_title">
                        <div class="cbox_icon"><img src="~/images/icon-2.png" alt=""></div>
                        <a><h4>Xem hồ sơ bệnh án trên mạng</h4></a>
                    </div>
                    <p>
                        Dịch vụ "Đăng ký khám theo hẹn" bắt đầu đi vào hoạt động từ ngày 09 tháng 4 năm
                        2009.Ngoài ra, phụ huynh có con cần khám dịch vụ tại phòng khám vẫn có thể đặt lịch
                        trước bằng cách ...
                    </p>
                    <a href="#">Appointment <i class="zmdi zmdi-plus"></i></a>

                </div>
            </div>
            <div class="col-md-3">
                <div class="single_cbox">
                    <div class="cbox_title">
                        <div class="cbox_icon"><img src="~/images/icon-3.png" alt=""></div>
                        <a><h4>Xem lịch khám theo bác sĩ</h4></a>
                    </div>
                    <p>
                        Dịch vụ "Đăng ký khám theo hẹn" bắt đầu đi vào hoạt động từ ngày 09 tháng 4 năm
                        2009.Ngoài ra, phụ huynh có con cần khám dịch vụ tại phòng khám vẫn có thể đặt lịch
                        trước bằng cách ...
                    </p>
                    <a href="#">Know more <i class="zmdi zmdi-plus"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single_cbox">
                    <div class="cbox_title">
                        <div class="cbox_icon"><img src="~/images/icon-3.png" alt=""></div>
                        <a asp-action="@nameof(HoiDapYkhoasController.Index)"
                           asp-controller="@nameof(HoiDapYkhoasController).Replace("Controller","")"><h4>Diễn đàn hỏi đáp y khoa</h4></a>
                    </div>
                    <p>
                        Dịch vụ "Đăng ký khám theo hẹn" bắt đầu đi vào hoạt động từ ngày 09 tháng 4 năm
                        2009.Ngoài ra, phụ huynh có con cần khám dịch vụ tại phòng khám vẫn có thể đặt lịch
                        trước bằng cách ...
                    </p>
                    <a href="#">Xem thêm <i class="zmdi zmdi-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="background-color:#016ca0; margin:10px">
    <div class="col-lg-4 cc">
        <h2>Cấp cứu 24/24</h2>
        <h3>069 645 142</h3>
    </div>

    <div class="col-lg-4 cc">
        <h2>Đường dây nóng</h2>
        <h3>0988 92 90 59</h3>
    </div>

    <div class="col-lg-4 cc">
        <h2>Chăm sóc khách hàng</h2>
        <h3>(08) 3896 0054</h3>
    </div>
</div>
<!-- Cbox Area end-->
<!-- About Area Start-->
<div class="about_area ">
    <div class="container">
        <div>
            <div class="col-lg-9 ">
                <div class="about_content">
                    <div class="col background_grey">
                        <div class="section_title">
                            <h1>Hoạt động</h1>
                        </div>
                        <div class="latest_news">
                            @foreach (var hoatdong in Model.lsHoatDong)
                            {
                                <a asp-action="@nameof(HoatDongsController.Details)"
                                   asp-controller="@nameof(HoatDongsController).Replace("Controller","")"
                                   asp-route-id="@hoatdong.Id"
                                   target="_blank" class="single_latest_news"><img src="@Url.Content("~/images/image_slider/" + hoatdong.HinhAnhMinhHoa)"/>
                                    <span class="l_img" style="background-image: url(~/images/image_slide/);"></span>
                                    <h5>
                                        @hoatdong.TieuDe
                                    </h5>
                                    <span>@hoatdong.NgayTao</span>
                                    <p>
                                        @hoatdong.GioiThieu
                                    </p>
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <div class="about_content">
                    <div class="col background_grey">
                        <div class="section_title">
                            <h1>Tin tức mới nhất</h1>
                            <p>
                                Cập nhật thông tin mới nhất của bệnh viện
                            </p>
                        </div>
                        <div class="latest_news">
                            @foreach (var tinTuc in Model.lsTinTuc)
                            {
                                <a asp-action="@nameof(TinTucsController.Details)"
                                   asp-controller="@nameof(TinTucsController).Replace("Controller","")"
                                   asp-route-id="@tinTuc.Id"
                                   target="_blank" class="single_latest_news">
                                    <span class="l_img" style="background-image: url(../images/img/news1.jpg);"></span>
                                    <h5>
                                        @tinTuc.TieuDe
                                    </h5>
                                    <span>@tinTuc.NgayTao</span>
                                    <p>
                                        @tinTuc.GioiThieu
                                    </p>
                                </a>
                            }
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 video">
                <div class="section_title">
                    <h1>Video</h1>
                </div>
                @foreach (var video in Model.lsVideo)
                {
                    <ul>
                        <li>
                            <a href="@video.DuongDanFile" target="_blank">
                                <i class="zmdi zmdi-play-circle"> @video.TieuDe</i>
                                <br/>
                                <img src="@Url.Content("~/images/image_video/" + video.HinhAnh)" alt="">
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>
<!-- News Area Start-->



@section scripts {
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/waypoint.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>


}
